
@{
    ViewBag.Title = "AddOperation";
}

<h2>AddOperation</h2>

<form method="post">
    First number <input type="number" name="num1"/><br>
    Second number <input type="number" name="num2"/><br>
    <input type="submit" value="Add nums"/>
</form>

<h3>@ViewBag.msg</h3>