
@{
    ViewBag.Title = "ModelDemo";
}

<h2>ModelDemo</h2>

<table class="table table-bordered">
    <tr>
        <th>EmpId</th>
        <td>@ViewBag.emp.EmpId</td>
    </tr>
    <tr>
        <th>EmpName</th>
        <td>@ViewBag.emp.EmpName</td>
    </tr>
    <tr>
        <th>Salary</th>
        <td>@ViewBag.emp.Salary</td>
    </tr>
</table>